.biaodant{
    display: none;
    position: relative;
    margin: 130px auto;
    width: 280px;
    height: 400px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 15px;
    box-shadow: 0px 0px 4px 1px rgb(42, 41, 41);
    text-align: center;
    transition: all .7s;
}
.biaodant h2{
    position: absolute; 
    top: 45px;
    left: 104px;
}
.zhuce1{
    position: absolute; right: 15px;top: 206px;
}

.biaodant:hover {
    background-color: rgba(0, 0, 0, .0);
}
.xianshi2{
    margin-top: 4px;margin-left: 0px; font-size: 10px;color: red;
}